
    <!--====== Dashboard Features ======-->
    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
        <div class="dash__pad-1">

            <ul class="dash__f-list">
                <li [class.dash-active]="selected">

                    <a href="/#/my-site/dash-internaute">Manage My Account</a>
                </li>
                <li>

                    <a   href="/#/my-site/profile-internaute">My Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
        <div class="dash__pad-1">
            <ul class="dash__w-list">
                <li>
                    <div class="dash__w-wrap">

                        <img src="../../../../../assets/images/product/supply-chain.png" />

                        <span class="dash__w-text">{{nombreAnnonce}}</span>

                        <span class="dash__w-name">Pulished Products</span></div>
                </li>
            </ul>
        </div>
    </div>
    <!--====== End - Dashboard Features ======-->

