<div class="app-content" *ngFor="let a of listAnnonces">

    <!--====== Section 1 ======-->
    <div class="u-s-p-t-90" >
        <div class="container">
            <div class="row">    
                    <!--====== Product Detail Zoom ======-->
                    <div class="d-flex" >
                        <div class="col-lg-5">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner" role="listbox">
                                        <img src="{{ getSlide() }}" class="u-img-fluid" alt="slide" >
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button (click)='getPrev()' class="btn previous round ">&#8249;</button>
                                        <button (click)='getNext()' class="btn next round mx-4">&#8250;</button>    
                                    </div>
                                </div>   

                                
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>
        
                                    <span class="pd-detail__name">{{a.labelle}}</span></div>
                                <div>
                                    <div class="pd-detail__inline">
        
                                        <span class="pd-detail__price">${{a.prix}}</span>
        
                                        </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        
                                        <span class="pd-detail__review u-s-m-l-4">
        
                                            <a data-click-scroll="#view-review">23 Reviews</a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
        
                                        <span class="pd-detail__stock">200 in stock</span>
        
                                        <span class="pd-detail__left">Only 2 left</span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
        
                                        <span class="pd-detail__click-wrap" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                              </svg>&nbsp;&nbsp;
        
                                            {{a.dateCreation.substr(a.dateCreation,10)}}
                                        </span>
                                        </div>
                                </div>
                                <div class="u-s-m-b-15">
        
                                    <span class="pd-detail__preview-desc">{{a.nomAnnonce}}</span>
                                </div>
                                
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>
        
                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>
        
                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>
        
                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>
        
                                            <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li>
        
                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                                <div class="u-s-m-b-15">
                                    <button class="command" data-toggle="modal" type="submit" data-target="#exampleModal" (click)="getStl()">PLACE ORDER</button>
                                </div>
                                <!-- Button trigger modal -->
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">DELIVERY INFORMATION</h5> 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="checkout-f__delivery" (ngSubmit)="addCommande()">
                            <div class="u-s-m-b-30">
                                <!--====== First Name, Last Name ======-->
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="billing-fname">FIRST NAME *</label>

                                        <input class="modInput input-text input-text--primary-style" type="text" id="billing-fname" data-bill="" name="nom" [(ngModel)]="commande.nom">
                                    </div>
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-lname">LAST NAME *</label>

                                    <input class="modInput input-text input-text--primary-style" type="text" id="billing-lname" data-bill="" name="prenom" [(ngModel)]="commande.prenom">
                                </div>
                                <!--====== End - First Name, Last Name ======-->
                                <!--====== E-MAIL ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-email">E-MAIL *</label>

                                    <input class="modInput input-text input-text--primary-style" type="email" id="billing-email" data-bill="" name="email" [(ngModel)]="commande.email"></div>
                                <!--====== End - E-MAIL ======-->


                                <!--====== PHONE ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-phone">PHONE *</label>

                                    <input class="modInput input-text input-text--primary-style" type="text" id="billing-phone" data-bill="" name="tel" [(ngModel)]="commande.tel"></div>
                                <!--====== End - PHONE ======-->


                                <!--====== Street Address ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-street">STREET ADDRESS *</label>

                                    <input class="modInput input-text input-text--primary-style" type="text" id="billing-street" placeholder="House name and street name" data-bill="" name="adresse" [(ngModel)]="commande.adresse">
                                </div>
                                <div class="u-s-m-b-15">

                                    <!--====== Select Box ======-->

                                    <label class="gl-label" for="billing-country">Delivery company *</label>
                                    <select *ngFor="let st of stls" name="couponCode" [(ngModel)]="commande.idStl" class="select-box select-box--primary-style" id="billing-country" data-bill="" name="idStl" [(ngModel)]="commande.idStl">
                                        <option [value]="st.id" >{{st.intitule}}</option>
                                    </select>
                                    <!--====== End - Select Box ======-->
                                </div>
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-Coupon">Coupon *</label>

                                    <input class="modInput input-text input-text--primary-style" type="text" id="billing-Coupon" placeholder="House name and street name" data-bill="" name="coupon" [(ngModel)]="commande.coupon">
                                </div>
                                <div class="mt-4 ">
                                    <button class="dash__custom-link btn--e-brand-b-2" type="submit">SAVE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div> 
                                <div class="u-s-m-b-15">
        
                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
        
                                            <span>Buyer Protection.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
        
                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
        
                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>   
                    </div>
                
            </div>
        </div>
    </div>

    <!--====== Product Detail Tab ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12">
                    <div class="pd-tab">
                        <div class="u-s-m-b-30">
                            <ul class="nav pd-tab__list">
                                <li class="nav-item">

                                    <a class="nav-link active show" data-toggle="tab" href="#pd-desc">DESCRIPTION</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <!--====== Tab 1 ======-->
                            <div class="tab-pane fade active show" id="pd-desc">
                                <div class="pd-tab__desc">
                                    <div class="u-s-m-b-15">
                                        <p>{{a.description}}</p>
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <ul>
                                            <li><i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Buyer Protection.</span></li>
                                            <li><i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Full Refund if you don't receive your order.</span></li>
                                            <li><i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Returns accepted if product not as described.</span></li>
                                        </ul>
                                    </div>
                                    <div class="u-s-m-b-15">
                                        <h4>PUBLISHER INFORMATION</h4>
                                    </div>
                                    <div class="u-s-m-b-15">
                                        <div class="pd-table gl-scroll">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>Owner</td>
                                                        <td>{{client.owner}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone</td>
                                                        <td>{{client.tel}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>{{client.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Adresse</td>
                                                        <td>{{client.adresse}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 1 ======-->


                            <!--====== Tab 2 ======-->
                            
                            <!--====== End - Tab 2 ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Product Detail Tab ======-->
    <div class="u-s-p-b-90">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                            <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->


        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div>
                    <div class="owl-carousel product-slider owl-loaded owl-drag" data-item="4">
                        
                        
                        
                        
                        
                        
                    <div class="owl-stage-outer">
                        <div class="owl-stage"     style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1665px;">
                        <div class="owl-item active" *ngFor="let slide of myListAnnonces" style="width: 277.5px;">
                            <div class="u-s-m-b-30">
                                <div class="product-o product-o--hover-on">
                                    <div class="product-o__wrap" >
                                       
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="">

                                            <img class="aspect__img" [src]="slide.image.path" alt=""></a>
                                    </div>

                                    <span class="product-o__category">

                                        <a >{{slide.nom_sous_category}}</a></span>

                                    <span class="product-o__name">

                                        <a >{{slide.labelle}}</a></span>
                                    <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                        <span class="product-o__review">(20)</span></div>

                                    <span class="product-o__price">${{slide.prix}}

                                    </span>
                                    <a  class="btn--e-brand" (click)="navigateToProductDetails(slide.idAnnonce)">View Annonce</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div></div><div class="owl-nav"><div class="p-prev"><i class="fas fa-long-arrow-alt-left"></i></div><div class="p-next"><i class="fas fa-long-arrow-alt-right"></i></div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 1 ======-->
</div>
