<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a></li>
                            <li class="is-marked">

                                <a href="dash-address-book.html">My Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <app-dash-magasin-menu></app-dash-magasin-menu>
                        </div>
                        <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Publish this product</h5>    
                    </div>
                    <div class="modal-body">
                        <div class="gl-inline">
                            <label class="gl-label" for="annonce"> </label>
                            <textarea  id="annonce" cols="30" rows="10" name="annonceName" [(ngModel)]="annonce.nomAnnonce"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" (click)="publish()">Publish</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <div class="dash__address-header">
                                            <h1 class="dash__h1">Products List</h1>
                                            <form  class="main-form ng-untouched ng-pristine ng-valid">
                                                <label _ngcontent-avd-c207="" for="main-search"></label>
                                                <input _ngcontent-avd-c207="" type="text"  [(ngModel)]="value" name="search"  (ngModelChange)="search()" id="main-search" placeholder="Search" class="input-text input-text--border-radius input-text--style-1">
                                                <button _ngcontent-avd-c207="" type="button" (ngModelChange)="search()"  class=" btn--icon fas fa-search main-search-button"></button>
                                            </form>
                                    </div>
                                </div>
                            </div>
                            <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                <div class="dash__table-2-wrap gl-scroll">
                                    <table class="dash__table-2">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Sub Category</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let prod of products | paginate: { itemsPerPage: 5,currentPage: page};" >
                                                <td>
                                                    <button *ngIf="prod.statut == 0" class="address-book-edit btn--e-transparent-platinum-b-2" data-toggle="modal" data-target="#exampleModal" (click)="saveId(prod.id)">Publish</button>&nbsp;&nbsp;
                                                    <button class="address-book-edit btn--e-transparent-platinum-b-2" (click)="delete(prod.id)">Delete</button>
                                                </td>
                                                <td>{{prod.labelle}}</td>
                                                <td>{{prod.prix}} DT</td>
                                                <td *ngIf="prod.statut == 0">not published</td>
                                                <td *ngIf="prod.statut == 1">published</td>
                                                <td>{{prod.sousCategory.nom_sous_category}}</td>
                                                <td>{{prod.description | slice:0:50}} &nbsp;&nbsp;...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls class="my-pagination" previousLabel="Previous" nextLabel="Next" (pageChange)="page = $event">
                                    </pagination-controls>
                                </div>
                            </div>
                            <div>

                                <a class="dash__custom-link btn--e-brand-b-2" href="/#/my-site/add-product"><i class="fas fa-plus u-s-m-r-8"></i>

                                    <span>Add New Product</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>