#navigation1{
    padding-top: 3%;
}
.fa-search{
    font-weight: 900 !important;
}
.primary-nav {
    flex-wrap: initial !important;
}
.secondary-nav {
    height: 65px !important;
}
.secondary-nav-wrapper{
    box-shadow: 0 7px 10px rgba(0.5, 0, 0.5, 0.10);
    padding-bottom: 30px;
}
